/*
----------------------------------------------------------------------------
Color settings.
----------------------------------------------------------------------------
*/

$color-brand: rebeccapurple !default;
$color-neutral-100: lightgrey !default;
$color-focus: gold !default;
