/*
----------------------------------------------------------------------------
Color settings.
----------------------------------------------------------------------------
*/

$color-brand: var(--themeColorBrand) !default;
$color-neutral-100: var(--themeColorNeutral100) !default;
$color-focus: var(--themeColorFocus) !default;

$color-info: var(--themeColorInfo) !default;
$color-error: var(--themeColorError) !default;
