/*
----------------------------------------------------------------------------
Config settings.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Spacing and gutters.
Use for margin|padding, and gap in flex|grid layouts.
----------------------------------------------------------------------------
*/
$gutter: 1rem !default;

/*
----------------------------------------------------------------------------
Borders.
----------------------------------------------------------------------------
*/
$border-width-s: 0.0625rem !default;
$border-width-m: 0.125rem !default;
$border-width-l: 0.25rem !default;
