/*
----------------------------------------------------------------------------
Config settings.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Spacing and gutters.
Use for margin|padding, and gap in flex|grid layouts.
----------------------------------------------------------------------------
*/
$gutter-s: var(--themeGutterS) !default;
$gutter: var(--themeGutter) !default;

/*
----------------------------------------------------------------------------
Borders.
----------------------------------------------------------------------------
*/
$border-width-s: var(--themeBorderWidthS) !default;
$border-width-m: var(--themeBorderWidthM) !default;
$border-width-l: var(--themeBorderWidthL) !default;
