/*
----------------------------------------------------------------------------
THEME overrides...

NOTES:
1. If you need to reference a base variable from "css/base/" folder, WITHOUT CHANGING ITS VALUE, you will need to DECLARE IT AGAIN in this file, otherwise it will be undefined.
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
1. Override base styles from "./src/styles/base/" folder directly below.
----------------------------------------------------------------------------
*/
@font-face {
    font-display: swap;
    font-family: 'robotolight';
    font-style: normal;
    font-weight: normal;
    src: url('./_THEMES/theme1/fonts/roboto-light/roboto-light.woff') format('woff');
}

/*
----------------------------------------------------------------------------
2. Override global styles from "./src/css/globals/" folder, by importing the appropriate Sass partial(s).
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
3. Override atoms/molecules/organisms/templates styles from "./src/css/.../" folders, by importing the appropriate Sass partial(s).
----------------------------------------------------------------------------
*/
