/*
----------------------------------------------------------------------------
CSS variables for dynamic theming.

- Legacy browsers can only leverage CSS variables if they are defined inside ':root' element.
----------------------------------------------------------------------------
*/

:root {
    // Colors.
    --themeColorBrand: rebeccapurple;
    --themeColorNeutral100: lightgrey;
    --themeColorFocus: gold;
    --themeColorInfo: lightskyblue;
    --themeColorError: lightcoral;

    // Typography.
    --type-font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --type-font-family: Arial;

    // Spacing/gutters.
    --themeGutterS: 0.5rem;
    --themeGutter: 1rem;

    // Borders.
    --themeBorderWidthS: 0.0625rem;
    --themeBorderWidthM: 0.125rem;
    --themeBorderWidthL: 0.25rem;
}
