/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: $gutter;

    &__field {
        display: flex;
        flex-direction: column;
        gap: $gutter-s;

    }
}
