/*
----------------------------------------------------------------------------
Dependencies.
----------------------------------------------------------------------------
*/
@use '../mixins' as *;
@use '../base' as *;

.message {
    padding: $gutter-s;

    &--info {
        background: $color-info;
    }

    &--error {
        background: $color-error;
    }
}
